[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyexcel-ods3 = "*"
beautifulsoup4 = "*"
requests = "*"
cloudscraper = "*"

[dev-packages]

[requires]
python_version = "3.12"
